
	*{
		box-sizing: border-box;
	}
	body {
		background-color: #00AA95;

	}
	h1{
		text-align: center;
		color: #AA0046
	}
	@media (min-width: 992px) {
	section {
		width: 31%;
		padding: 60px 30px 30px 30px;
		color: #FF4E28;
		margin: 0px 10px 10px 10px;
		font-size: 120%;
		font-weight: bold;
		background-color: #8F00BD;
		border: 1px solid black;
		float: left;
		position: relative;
		
	}
	h3{
		position: absolute;
		top: -22px;
		right: 0;
		background-color: black;
		width: 190px;
		height: 30px;
		padding-left: 5px;

	}

	
	
	}
	@media (min-width: 768px) and (max-width: 991px) {
	#p1, #p2 {
		width: 45%;
		padding: 60px 30px 30px 30px;
		color: #FF4E28;
		margin: 10px;
		font-size: 120%;
		font-weight: bold;
		background-color: #8F00BD;
		border: 1px solid black;
		float: left;
		position: relative;

	}
	#p3 {
		width: 92%;
		padding: 60px 30px 30px 30px;
		color: #FF4E28;
		margin: 10px;
		font-size: 120%;
		font-weight: bold;
		background-color: #8F00BD;
		border: 1px solid black;
		clear: left;
		position: relative;

	}

	h3{
		position: absolute;
		top: -22px;
		right: 0;
		background-color: black;
		width: 190px;
		height: 30px;
		padding-left: 5px;

	}

	}
	@media (max-width: 767px) {
		section {
		width: 92%;
		padding: 60px 30px 30px 30px;
		color: #FF4E28;
		margin: 10px;
		font-size: 120%;
		font-weight: bold;
		background-color: #8F00BD;
		border: 1px solid black;
		position: relative;
		
	}

	h3{
		position: absolute;
		top: -22px;
		right: 0;
		background-color: black;
		width: 190px;
		height: 30px;
		padding-left: 5px;

	}

	}
